.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.img1:hover{
    scale: 110%;
    transition: all 0.9s;
}
/* ##########################navbar#################### */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 1;
}
.fullnav{
    justify-content: space-evenly !important;
}

.links {
    text-decoration: none;
}

.bgnav {
    display: none;
}

.smallinput:hover {
    transition: .5s;
    background-color: rgb(77, 74, 74);
}

.texta:hover {
    transition: .5s;
    background-color: rgb(77, 74, 74);
}

.closebb {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-left: 4vmax;
}

.closebb::after {
    content: '';
    transition: .5s;
    height: 100%;
    width: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-color: #1d2425;
    position: absolute;
}

.closebb:hover::after {
    width: 100%;
}

@media screen and (max-width:750px) {

    /*##### 9 2 0 ########*/
    #home {
        margin-top: -15.3vmax !important;
        margin-bottom: 5vmax !important ;   
    }

    .full-nav {
        position: fixed;
        width: 200px;
        height: 100%;
        flex-direction: column;
        right: -200px;
        background-color: #000000d4;
    }

    .left-nav {
        display: none;
        width: 100%;
    }

    .right-nav {
        width: 100%;
        height: auto;
        padding: 50% 0px;
    }

    .right-nav ul {
        flex-direction: column;
        padding: 10px 0px;
        width: 100%;
    }

    .right-nav ul li {
        justify-content: right;
        margin: 5px 0px;
        width: 100%;
        letter-spacing: 1px;
    }

    .bgnav {
        display: block;
    }

    .navbarul a li {
        color: white;
        margin: 10px 0px;
    }

    .conleft button {
        margin: 10px 0;
    }

    .middlenav {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        /* border-radius: 10px; */

    }

    .line3 {
        width: 85%;
        height: 2px;
        background-color: black;
        margin: 4px 0;
        border-radius: 5px;
        transition: .7s;
        transform-origin: center;
        position: absolute;
    }

    #line1 {
        bottom: 25px;
        right: 0px;
        /* transition-delay: .7s; */
    }

    #line2 {
        bottom: 15px;
        right: 0px;
    }

    #line3 {
        bottom: 5px;
        right: 0px;
    }

    .navbtn {
        width: 44px;
        height: 54px;
        top: 1px;
        position: fixed;
        right: 20px;
        cursor: pointer;
        z-index: 5;
        background-color: transparent;
        border: none;
    }

    .conleft a p {
        font-size: 14px;
    }

    .contactpage {
        flex-direction: column;
    }

    .conleft {
        width: 100%;
    }

    .conright {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 62px 0px;
    }

    .conright img {
        margin: 10px 0;
    }

    .closebb {
        bottom: -40px;
    }

    .contact {
        margin: 18px auto;
    }

    .texta {
        width: 93%;
    }

    .smallinput {
        width: 45%;
    }

    .mlogin {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (min-device-width:100px) and (max-width:500px) {
        .smallinput {
            margin: 0 5px;
        }
    }

}

#home {
    margin-top: -8.3vmax;
    background-color: red;
    height: 100.3vmin;
    background-image: url('../../img/two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.typ {
    background-image: linear-gradient(-225deg,
            #9a85e9 0%,
            #9d41ff 29%,
            #ff1361 67%,
            #4affab 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}