
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Dongle:wght@700&family=Dosis&family=Hind+Siliguri&family=Josefin+Sans:ital,wght@0,400;1,500&family=Lato&family=Merriweather:wght@900&family=Montserrat:wght@300&family=Noto+Sans&family=Oswald:wght@300;400&family=Raleway:wght@600&family=Rancho&family=Source+Sans+Pro:wght@300&family=Work+Sans:wght@500&display=swap');
body{
  font-family: 'Source Sans Pro', sans-serif;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
